<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/control-panel.css">
</head>

<body>
    <div >
        <div class="side_nav" style="left: 0px;">
            <div class="logo">
                <a href="/admin/index"><img src="/static/images/photo5395785676621985191 (1).jpg" /></a>
                <p>Turyan Azizov</p>
            </div>
            <div class="nav_link">
                <a href="/admin/control-about">
                    <li>About</li>
                </a>
                <a href="/admin/control-blog">
                    <li>Blog</li>
                </a>
                <a href="/admin/control-resume">
                    <li>Resume</li>
                </a>
                <a href="/admin/control-portfolio">
                    <li>Portfolio</li>
                </a>
                <a href="/admin/control-inbox">
                    <li>Inbox</li>
                </a>
                <a href="/logout">
                    <li style="margin-top:184px;">Log out</li>
                </a>
            </div>
        </div>
        <div style="position:absolute ;left: 400px;top:50px;width:1000px">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                        <th scope="col">Date</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <th scope="row">{{message.id}}</th>
                        <td>{{message.username}}</td>
                        <td>{{message.email}}</td>
                        <td>{{message.text}}</td>
                        <td>{{message.date}}</td>
                        <td><a href="/admin/control-inbox/delete/{{message.id}}"> <i style="margin-right:10px"
                                    class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>