<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/control-panel.css">
</head>
<body style="background-image:url(/static/images/bg.jpg);background-color:none;">
    <input type="checkbox" name="nav" id="nav_button">
<div class="body">
		<br>
		<label for="nav_button" class="on">Click Here</label>
		<!-- 	br tag to check scrolling -->
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="side_nav">
	<div class="logo">
		<label for="nav_button" class="off">&Cross;</label>
		<a href="/admin/index"><img src="/static/images/photo5395785676621985191 (1).jpg" /></a>
		<p>Turyan Azizov</p>
	</div>
	<div class="nav_link">
		<a href="/admin/control-about"><li>About</li></a>
		<a href="/admin/control-blog"><li>Blog</li></a>
        <a href="/admin/control-resume"><li>Resume</li></a>
        <a href="/admin/control-portfolio"><li>Portfolio</li></a>
        <a href="/admin/control-inbox"><li>Inbox</li></a>
        <a href="/logout"><li style="margin-top:184px;">Log out</li></a>
	</div>
</div>
</body>
</html>