<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="/static/images/icon2.png">
    <title>Login</title>
</head>

<body>
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
    <canvas id="projector">Your browser does not support the Canvas element.</canvas>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <h3>Admin Panel</h3>
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">
        <button>Log In</button>
        <p>Copyright @2021 | Created by <span>Turyan Azizov</span></p>
    </form>
    <script src="/static/js/particulars.js"></script>
</body>
</html>