{% extends 'App/base.html' %} {% block content %}

<body>
    <section id="portfolio-page">
        <div class="container-full">
            <div class="row">
                <div class="col-12">
                    <div class="portfolio-page">
                        <div class="navbar">
                            <ul>
                                <li id="logo">
                                    <a href="#">
                                        <span id="logo-cont">
                                            TA
                                        </span>
                                    </a>
                                </li>
                                <li class="right">
                                    <a href="/"><i class="fas fa-home hv-white"></i></a>
                                    <div class="li-hov">Home</div>
                                </li>
                                <li class="right">
                                    <a href="/about"><i class="far fa-user hv-white"></i></a>
                                    <div class="li-hov">About</div>
                                </li>
                                <li class="right">
                                    <a href="/resume"><i class="fas fa-cog hv-white"></i></a>
                                    <div class="li-hov">Resume</div>
                                </li>
                                <li class="right">
                                    <a href="/portfolio"><i style="color: #5ac24e;" class="far fa-eye hv-white"></i></a>
                                    <div class="li-hov">Portfolio</div>
                                </li>
                                <li class="right">
                                    <a href="/blog"><i class="far fa-newspaper hv-white"></i></a>
                                    <div class="li-hov">Blog</div>
                                </li>
                                <li class="right">
                                    <a href="/contact"><i class="far fa-envelope hv-white"></i></a>
                                    <div class="li-hov">Contact</div>
                                </li>
                            </ul>
                            <ul id="sec-ul">
                                <li>
                                    <a href="https://wa.me/+994708435013"><i
                                            class="fab fa-whatsapp-square dec-size hv-green"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/people/Turyan-Azizov/100007858877577/"><i
                                            class="fab fa-facebook-square dec-size hv-green"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/turyanazizov"><i
                                            class="fab fa-github-square dec-size hv-green"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/"><i
                                            class="fab fa-twitter-square dec-size hv-green"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog-content">
                            <div class="blog-content-info">
                                <div class="myblog">Portfolio</div>
                                <div class="contact-info">
                                    <div class="contact-all-info">
                                        <h1><strong>My </strong>Portfolio</h1>
                                    </div>
                                    <div class="blog-form">
                                    {% for portfolio in portfolios %}   
                                        <a href="{{portfolio.link}}">
                                            <form method="POST" class="hv-shadow">
                                                <div class="portfolio-img">
                                                    <div class="hv"></div>
                                                    <img  src="/static/uploads/{{portfolio.photo}}" alt="">
                                                </div>
                                                <h2>{{portfolio.portfolio_title}}</h2>
                                                <p>{{portfolio.portfolio_detail}}</p>
                                            </form>
                                        </a>
                                    {% endfor %}    
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-image">
                                <img src="/static/images/38ba8e54-7b0b-4ef6-be46-93482a74ade1.jfif" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>
{% endblock %}